html,
body {
  background-color: var(--mantine-color-nature-0);
}

.mantine-Button-root,
.mantine-Input-input {
  border-radius: 100vw;
}

.mantine-Input-input {
  &:focus-within {
    outline: none;
    transition: box-shadow 150ms ease;
    box-shadow: 0 0 0 2px var(--mantine-primary-color-filled);
  }

  &[data-variant="unstyled"] {
    outline: none;
    box-shadow: 0 0 0 0 !important;
  }
}
