.input {
  &:focus-within {
    outline: none;
    transition: box-shadow 150ms ease;
    box-shadow: 0 0 0 2px var(--mantine-primary-color-filled);
  }

  &[data-variant="unstyled"] {
    outline: none;
    box-shadow: 0 0 0 0 !important;
  }
}

.menuDropdown {
  border-radius: var(--mantine-radius-sm);
  min-width: 160px;
}

.menuItem {
  border-radius: var(--mantine-radius-sm);
  padding: 4px var(--mantine-spacing-xs);
}

.navLink {
  border-radius: var(--mantine-radius-default);
}
