.input {
  &:focus-within {
    outline: none;
    transition: box-shadow 150ms ease;
    box-shadow: 0 0 0 2px var(--mantine-primary-color-filled);
  }

  &[data-variant="unstyled"] {
    outline: none;
    box-shadow: 0 0 0 0 !important;
  }
}

.noInputRing {
  outline: none;
  box-shadow: 0 0 0 0 !important;
}

.numberInput {
  &:focus-within {
    z-index: 1;
  }
}

.menuDropdown {
  border-radius: var(--mantine-radius-sm);
  min-width: 120px;
}

.menuItem {
  border-radius: var(--mantine-radius-sm);
  padding: 4px var(--mantine-spacing-xs);
}

.navLink {
  border-radius: var(--mantine-radius-md);
}

.container {
  @media (max-width: 62em) {
    padding: 0;
  }
}
